/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container-header-ranking {
  display: flex;
  flex-direction: column;

  h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 0rem;
    font-weight: bold;
    color: var(--cl-blue);
  }

  .container-user {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;

    img {
      border-radius: 50%;
      object-fit: cover;
      height: 100px;
      width: 100px;
      background-color: #fff;
      border: 4px solid #282f3e;
    }

    span {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#historyTable {
  margin: 20px auto;
  width: 80%;
  background-color: #f8f8f8;
  border-radius: 5px;
  max-height: 400px; 
  overflow-y: auto;
}

#user-name{
  height: 100%; 
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--cl-blue);
}

table {
  width: 100%;
  font-size: 1.5rem;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #fff;
}

th,
td {
  padding: 20px;
  text-align: left;
  
}

th {
  background-color: var(--cl-blue);
  color: white;
}

tr {
  background-color: #eef5ff;
  
}

tr:hover {
  background-color: #e7f0ff;
}
